@keyframes FadeInLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TopBottomLoad {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

@keyframes HoverZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes HoverZoomOut {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes NavItemHover {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes ArrowHover {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.dark-mode {
  background-color: #121212;
  color: #fff;
}
.dark-mode #dark-mode-button {
  border: 0;
  background-color: #121212;
  color: #fff;
}
.dark-mode .navbar {
  background-color: #121212;
  box-shadow: 0 4px 3px 0px #e2e2e2;
}
.dark-mode .navbar .nav-link {
  color: #fff;
}
.dark-mode .navbar .nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  margin: auto;
  display: block;
  background-color: #fff;
}
.dark-mode .navbar .nav-link:hover::after {
  width: 100%;
  transition: width 150ms linear;
}
.dark-mode .navbar .dropdown-menu {
  background-color: #121212;
}
.dark-mode .navbar .dropdown-menu .dropdown-item {
  color: #fff;
  background-color: #121212;
}
.dark-mode .navbar .dropdown-menu .dropdown-item:hover {
  background-color: #444444;
}
.dark-mode .navbar .dropdown-menu .dropdown-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  margin: auto;
  display: block;
  background-color: #fff;
}
.dark-mode .navbar .dropdown-menu .dropdown-item:hover::after {
  width: 100%;
  transition: width 150ms linear;
  background-color: #fff;
}
.dark-mode main .pad .container span {
  background-color: #121212;
}
.dark-mode main .container .card {
  background-color: #121212;
  color: #fff;
  border: 1px solid white;
}
.dark-mode main .container .card .card-body .btn-primary {
  border: 1px solid white;
  background-color: #fff;
  color: #000;
}
.dark-mode footer {
  border-top: 1px solid #fff;
}
.dark-mode footer div span {
  color: #fff;
}
.dark-mode footer .bi {
  fill: #fff;
}

.luxury-brown-mode {
  background: repeating-linear-gradient(45deg, #2F1B12, #2F1B12 1px, #52341e 2px, #52341e 2px);
  color: #e7dab2;
}
.luxury-brown-mode #dark-mode-button {
  border: 0;
  background: repeating-linear-gradient(45deg, #2F1B12, #2F1B12 1px, #52341e 2px, #52341e 2px);
  color: #e7dab2;
}
.luxury-brown-mode .navbar {
  background: repeating-linear-gradient(45deg, #2F1B12, #2F1B12 1px, #52341e 2px, #52341e 2px);
}
.luxury-brown-mode .navbar .nav-link {
  color: #e7dab2;
}
.luxury-brown-mode .navbar .nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  margin: auto;
  display: block;
  background-color: #e7dab2;
}
.luxury-brown-mode .navbar .nav-link:hover::after {
  width: 100%;
  transition: width 150ms linear;
}
.luxury-brown-mode .navbar .dropdown-menu {
  background-color: #121212;
}
.luxury-brown-mode .navbar .dropdown-menu .dropdown-item {
  color: #e7dab2;
}
.luxury-brown-mode .navbar .dropdown-menu .dropdown-item:hover {
  background-color: #444444;
}
.luxury-brown-mode .navbar .dropdown-menu .dropdown-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  margin: auto;
  display: block;
  background-color: #e7dab2;
}
.luxury-brown-mode .navbar .dropdown-menu .dropdown-item:hover::after {
  width: 100%;
  transition: width 150ms linear;
  background-color: #e7dab2;
}
.luxury-brown-mode main .main-header {
  text-align: center;
  padding: 1% 0;
  color: #e7dab2;
}
.luxury-brown-mode main .row .col .card {
  width: 100%;
  color: #e7dab2;
}
.luxury-brown-mode main .row .col .card .card-body span {
  font-style: italic;
  color: #e7dab2;
}
.luxury-brown-mode footer {
  border-top: 1px solid #e7dab2;
}
.luxury-brown-mode footer div span {
  color: #e7dab2;
}
.luxury-brown-mode footer .bi-discord {
  fill: #e7dab2;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  animation: FadeInLoad 1s ease;
  animation-fill-mode: both;
  overflow-x: hidden;
  font-family: Lora, serif;
  color: #000;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 3px;
  opacity: 100%;
  background-color: #f3f6f4;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
  width: 1px;
}

::-moz-scrollbar {
  width: 3px;
  opacity: 100%;
  background-color: #f3f6f4;
}

::-moz-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
  width: 1px;
}

.navbar {
  box-shadow: 0 4px 3px 0px #000;
  animation: TopBottomLoad 1.5s ease;
  background-color: #f3f6f4;
  padding: 0 3rem;
}
.navbar .navbar-brand img {
  max-width: 15vw;
  display: block;
  width: 100%;
  animation: HoverZoomOut 0.5s ease;
}
.navbar .navbar-brand img:hover {
  animation: HoverZoom 0.5s ease;
  animation-fill-mode: both;
}
.navbar .navbar-nav {
  color: #000;
}
.navbar .nav-item {
  font-size: 1.5em;
  margin: 30px;
}
.navbar .nav-link {
  animation: HoverZoomOut 0.3s ease;
}
.navbar .nav-link:hover {
  animation: HoverZoom 150ms ease;
  animation-fill-mode: both;
}
.navbar .nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  margin: auto;
  display: block;
}
.navbar .nav-link:hover::after {
  width: 100%;
  transition: width 150ms linear;
}
.navbar .nav-link {
  color: #000;
}
.navbar .active {
  font-weight: bold !important;
}
.navbar .dropdown-item.active {
  background-color: #f3f6f4;
  color: #000;
}
.navbar .dropdown-menu .dropdown-item {
  font-size: 20px;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #eeeeee;
}
.navbar .dropdown-menu .dropdown-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  margin: auto;
  display: block;
}
.navbar .dropdown-menu .dropdown-item:hover::after {
  width: 100%;
  transition: width 150ms linear;
}

#dark-mode-button {
  border: 0;
  background-color: #f3f6f4;
  color: #000;
  animation: HoverZoomOut 0.3s ease;
}

#dark-mode-button {
  animation: HoverZoom 0.3s ease;
  animation-fill-mode: both;
}

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
}
.carousel-content h1 {
  font-size: 80px;
}
.carousel-content h2 {
  font-size: 80px;
}

main .pad {
  margin-top: 6%;
  margin-bottom: -3%;
}
main .pad .container .card {
  border: none;
  justify-content: center;
  padding: 0;
}
main .pad .container p {
  margin-top: -5%;
  font-size: 20px;
}
main .pad .container p span {
  color: #dfc978;
  background-color: #444444;
}
main .main-header {
  text-align: center;
  padding: 1% 0;
}
main .container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  margin-top: 1%;
}
main .container .card {
  width: 100%;
  animation: HoverZoomOut 0.3s ease;
}
main .container .card .card-body span {
  font-style: italic;
}
main .container .card .card-body .btn-primary {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  animation: HoverZoomOut 0.3s ease;
}
main .container .card .card-body .btn-primary:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  animation: HoverZoom 0.3s ease;
  animation-fill-mode: both;
}
main .container .card .card-body h3 {
  text-align: center;
}
main .container .card:hover {
  animation: HoverZoom 0.3s ease;
  animation-fill-mode: both;
}

footer {
  border-top: 1px solid black;
  width: 90%;
  margin: 0 auto;
}
footer div span {
  color: black;
  margin-right: 20px;
}
footer .bi {
  color: black;
}

@media only screen and (max-width: 1400px) {
  .navbar .nav-link {
    font-size: 18px;
  }
  main .pad {
    margin-top: 9%;
  }
}
@media only screen and (max-width: 1150px) {
  main .pad {
    margin-top: 13%;
  }
}/*# sourceMappingURL=style.css.map */