.dark-mode {
    background-color: $darkbg;
    color: $darktxt;
    #dark-mode-button {
        border: 0;
        background-color: $darkbg;
        color: $darktxt;
    } 
    .navbar {
        background-color: $darkbg;
        box-shadow: 0 4px 3px 0px #e2e2e2;
        .nav-link {
            color: $darktxt;
        }
        .nav-link::after{
            @include underline-hover-after;
            background-color: $darktxt;
        }
        .nav-link:hover::after{
            @include underline-hover-after2;
        }
        .dropdown-menu {
            background-color: $darkbg;
            .dropdown-item {
                color: $darktxt;
                background-color: $darkbg;
            }
            .dropdown-item:hover {
                background-color: $darklinkhover;
            }
            .dropdown-item::after{
                @include underline-hover-after;
                background-color: $darktxt;
            }
            .dropdown-item:hover::after{
                @include underline-hover-after2;
                background-color: $darktxt;
            }
        }
    }
    main {
        .pad {
            .container {
                span {
                    background-color: $darkbg;
                }
            }
        }
        .container {
            .card {
                background-color: $darkbg;
                color: $darktxt;
                border: 1px solid white;
                .card-body {
                    .btn-primary {
                        border: 1px solid white;
                        background-color: $whitebg;
                        color: $whitetxt;
                    }
                }
            }
        }
    }
    footer {
        border-top: 1px solid $darktxt;
        div span {
            color: $darktxt;
        }
        .bi {
            fill: $darktxt;
        }
    }
}