.luxury-brown-mode {
    @include background;
    color: $browntxt;
    #dark-mode-button {
        border: 0;
        @include background;
        color: $browntxt;
    } 
    .navbar {
        @include background;

        ;
        .nav-link {
            color: $browntxt;
        }
        .nav-link::after{
            @include underline-hover-after;
            background-color: $browntxt;
        }
        .nav-link:hover::after{
            @include underline-hover-after2;
        }
        .dropdown-menu {
            background-color: $darkbg;
            .dropdown-item {
                color: $browntxt;
            }
            .dropdown-item:hover {
                background-color: $darklinkhover;
            }
            .dropdown-item::after{
                @include underline-hover-after;
                background-color: $browntxt;
            }
            .dropdown-item:hover::after{
                @include underline-hover-after2;
                background-color: $browntxt;
            }
        }
    }
    main {
        .main-header {
            text-align: center;
            padding: 1% 0;
            color: $browntxt;
        }
        .row .col .card {
            width: 100%;
            color: $browntxt;
            .card-body span {
                font-style: italic;
                color: $browntxt;
            }
        }
    }
    footer {
        border-top: 1px solid $browntxt;
        div span {
            color: $browntxt;
        }
        .bi-discord {
            fill: $browntxt;
        }
    }
}