@mixin background {
    background: repeating-linear-gradient(
        45deg,
        $stripe1,
        $stripe1 1px,
        $stripe2 2px,
        $stripe2 2px
    ); 
}

@mixin scrollbar {
    @include background;
    width: 0.5px;
    opacity: 10%;
}

@mixin scrollbar-thumb {
    background-color:$whitetxt;
    border-radius: 10px;
    width: 1px;
}

@mixin underline-hover-after {
    content: '';
    width: 0;
    height: 2px;
    background-color: black;
    margin: auto;
    display: block;
}

@mixin underline-hover-after2 {
    width: 100%;
    transition: width 150ms linear;
}