@mixin background {
    background: repeating-linear-gradient(
        45deg,
        $stripe1,
        $stripe1 1px,
        $stripe2 2px,
        $stripe2 2px
    ); 
}
//luxury brown \/ /\
@mixin luxurybrownmodescrollbar {
    @include background;
    width: 3px;
    opacity: 100%;
}

@mixin scrollbar {
    width: 3px;
    opacity: 100%;
    background-color:$whitenavbar;
}

@mixin scrollbar-thumb {
    background-color:$whitetxt;
    border-radius: 10px;
    width: 1px;
}

@mixin underline-hover-after {
    content: '';
    width: 0;
    height: 2px;
    background-color: black;
    margin: auto;
    display: block;
}

@mixin underline-hover-after2 {
    width: 100%;
    transition: width 150ms linear;
}

@mixin pad {
    margin-top: 8%;
    margin-bottom: -5%;
    @media only screen and (max-width:1250px) {
        margin-top: 10%;
    }
    @media only screen and (max-width:992px) {
        margin-top: 7%;
    }
    @media only screen and (max-width:576px) {
        margin-top: 8%;
    }  
}