@media only screen and (max-width:1400px) {
    .navbar {
        .nav-link {
            font-size: 18px;
        }
    }
    main {
        .pad {
            margin-top: 9%;
        }
    }
}

@media only screen and (max-width:1150px) {
    main {
        .pad {
            margin-top: 13%;
        }
    }
}