//White Theme
$whitebg: #fff;
$whitetxt: #000;
$whitenavbar: #f3f6f4;
$whitelinkhover: #eeeeee;



//Dark Theme
$darkbg: #121212;
$darktxt: #fff;
$darklinkhover: #444444;

//Luxury Brown Theme
$stripe1: #2F1B12;
$stripe2: #52341e;
$browntxt: #e7dab2;


$fontsize: blue;